@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('/src/assets/css/homePage.css');
@import url('/src/assets/css/box.css');
@import url('/src/assets/css/homeButton.css');
@import url('/src/assets/css/scissoersRockPaper.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(0, 0, 0); */
}
