.netflix_banner {
    height: 56vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.netflix_banner::before {
    content: '';
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}

.banner-text-area {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
}

.banner-text-area h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.banner-text-area p {
    font-size: 0.9em;
}

.banner-text-area > * {
    z-index: 2;
}

@media (max-width: 768px) {
    .banner-text-area {
        width: 80%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .banner-text-area h1 {
        font-size: 1.8em;
    }
    .banner-text-area p {
        font-size: 1em;
    }
}
